{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Project Tracker{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('reports.create_project') }}">Create Project</a>
    {% endif %}
  
    
{% endblock %}

{% block content %}
    {% for project in projects %}
        <article class="post">
            <header>
               
                <div>
                    <h1>{{ project['title'] }}<a href="{{url_for('reports.browse_projects', project_id=project['id'])}}"> Check out</a></h1>
                    
                </div>
                
            </header>
            
        </article>
        {% if not loop.last %}
          <hr>
        {% endif %}
    {% endfor %}
{% endblock %}