{% extends 'base.html' %}

{% block content %}
    {% for case in cases %}
        <article class="post">
            <header>
       
                <div>
                    <h1>{{ case['_description'] }} <a href="{{url_for('index')}}"> Check out</a>
                    
                    </h1>
                </div>
            </header>
            
        </article>
        {% if not loop.last %}
        
            <hr>
            
        {% endif %}
    {% endfor %}
    <hr>
    <div>
        <a  href="{{url_for('reports.add_case', project_id=id)}}">Add Case</a>
        <a href="{{url_for('reports.gen_tree', project_id=id)}}"> Gen Tree</a>
    </div>
{% endblock %}